<html layout:decorate="~{layout}">
<div layout:fragment="content">
	<h5>질문등록</h5>
	<form th:object="${questionForm}" method="post" enctype="multipart/form-data">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<div role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
		</div>
		<div>
			<label for="category">카테고리</label>
			<select th:field="*{category}">
				<option value="" selected>카테고리</option>
				<option value="기타">기타</option>
				<option value="입양">입양</option>
				<option value="회원정보">회원정보</option>
				<option value="배송">배송</option>
			</select>
		</div>
		<div>
			<label for="subject">제목</label>
			<input type="text" th:field="*{subject}">
		</div>
		<div>
			<label for="content">내용</label>
			<textarea th:field="*{content}" rows="10"></textarea>
		</div>
		<div>
			<label for="files">첨부 파일</label>
			<input type="file" name="files" id="files" multiple>
		</div>
		<input type="submit" value="저장하기">
		<a th:href="@{/qna_question/list}">취소</a>
	</form>
</div>

</html>