<html layout:decorate="~{layout}">
<div layout:fragment="content">
	<h5>질문등록</h5>
	<form th:object="${questionForm}" method="post" enctype="multipart/form-data">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<div role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
		</div>
		<div>
			<label for="subject">제목</label>
			<input type="text" th:field="*{subject}">
		</div>
		<div class="mb-3">
			<label for="content">내용</label>
			<textarea th:field="*{content}" rows="10"></textarea>
		</div>
		<div class="mb-3">
			<label for="files">첨부 파일</label>
			<input type="file" name="files" id="files" multiple>
		</div>
		<input type="submit" value="저장하기">
	</form>
	<!-- 목록으로 돌아가기 링크 -->
	<a th:href="@{/qna_question/list}">목록</a>
</div>

</html>