<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
<div class="inner detail_wrap qna_detail">
	<div class="list">
		<a th:href="@{/qna_question/list}"><i class="fa-solid fa-list"></i>글 목록</a>	
	</div>
	<div class="detail_title">
		<table>
            <tr>
                <td class="title_wrap">
                	<span th:text="${question.category}"></span>
                	<span th:text="${question.subject}" class="title"></span>
                </td>
                <td class="date">
                	<span th:text="${#temporals.format(question.updatedAt != null ? question.updatedAt : question.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                	<span th:if="${question.updatedAt != null}" th:text="' (수정됨)'"></span>
                </td> 
            </tr>
            <tr>
                <td colspan="2">
                	<ul class="bottom">
                		<li th:if="${question.author != null}" th:text="${question.author.userId}"></li>
                		<li>
                			<span><i class="fa-solid fa-comment"></i><strong th:text="${#lists.size(question.answerList)}"></strong></span>
                		</li>
                	</ul>
                </td>
            </tr>
        </table>
	</div>
	<div class="detail_content">
   		<table>
   			 <tr>
                <td class="btn_wrap">
                    <a th:href="@{|/qna_question/modify/${question.questionIdx}|}" sec:authorize="isAuthenticated()"
                        th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.userId and #lists.size(question.answerList) == 0}"
                        class="detail_btn">
                        <i class="fa-solid fa-pen-to-square"></i>
                    수정</a>
                    <a href="javascript:void(0);" th:data-uri="@{|/qna_question/delete/${question.questionIdx}|}" sec:authorize="isAuthenticated()"
                        th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.userId}"
                        class="delete detail_btn">
                        <i class="fa-solid fa-trash-can"></i>
                    삭제</a>
                </td>
            </tr>
   			<tr>
                <td th:utext="${question.content}" class="content"></td>
            </tr>
            <tr th:if="${question.files != null}">
            	<td th:each="file : ${question.files}">
					<div th:if="${file.fileType.startsWith('image')}">
						<!-- 이미지 클릭 시 새 창에서 확대된 이미지 보기 -->
						<a th:href="@{${file.filePath}}" target="_blank">
							<img th:src="@{${file.filePath}}" th:alt="${file.fileName}"
								style="max-width: 300px; max-height: 300px; cursor: pointer;" />
						</a>
					</div>
					<div th:if="${!file.fileType.startsWith('image')}">
						<a th:href="@{${file.filePath}}" th:text="${file.fileName}" target="_blank"></a>
					</div>
				</td>
            </tr>
   		</table>
   	</div>
  
	<!-- 답변 -->
	<div class="board_comment">
		<div class="comment_form">
		    <!-- 답변 입력 폼 -->
            <form th:action="@{|/qna_answer/create/${question.questionIdx}|}" th:object="${answerForm}" method="post">
                <div role="alert" th:if="${#fields.hasAnyErrors()}">
					<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
				</div>
                <textarea th:field="*{content}" rows="10" sec:authorize="hasAuthority('ADMIN') or hasAuthority('PET_MANAGER')"></textarea>
                <textarea rows="10" disabled sec:authorize="!(hasAuthority('ADMIN') or hasAuthority('PET_MANAGER'))">권한이 없습니다.</textarea>
                <input type="submit" value="답변등록" sec:authorize="hasAuthority('ADMIN') or hasAuthority('PET_MANAGER')" class="submit_btn"  />
				<input type="submit" value="답변등록" sec:authorize="!(hasAuthority('ADMIN') or hasAuthority('PET_MANAGER'))" class="submit_btn" disabled />
            </form>
        </div>
        
        <p class="comment_size" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></p>
		
		<!-- 댓글 목록 -->
		<div class="comment_list_wrap" th:if="${not #lists.isEmpty(question.answerList)}">
			<ul>
				<li th:each="answer : ${question.answerList}">
					<div class="comment_header">
						<div th:if="${question.author != null}"  class="name" >
		            		<span th:text="${answer.author.userId}"></span>
		            		<span th:if="${#authentication.name == answer.author.userId}" class="comment_size">내 답변</span>
		            	</div>
		                <div class="date">
		                	<span th:text="${#temporals.format(answer.updatedAt != null ? answer.updatedAt : answer.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
							<span th:if="${answer.updatedAt != null}" th:text="' (수정됨)'"></span>
		                </div>
		            </div>
		            <div class="comment_bottom">
			            <div class="comment_content" th:text="${answer.content}"></div>
			            <div class="comment_actions">
			                <div class="btn_wrap">
								<a th:href="@{|/qna_answer/modify/${answer.answerIdx}|}" sec:authorize="isAuthenticated()"
									th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.userId}"
									class="modify detail_btn"><i class="fa-solid fa-pen-to-square"></i>
				                    수정</a>
								<a href="javascript:void(0);" th:data-uri="@{|/qna_answer/delete/${answer.answerIdx}|}"
									sec:authorize="isAuthenticated()"
									th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.userId}"
									class="delete detail_btn"><i class="fa-solid fa-trash-can"></i>
				                    삭제</a>
							</div>
			            </div>
		            </div>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>
<script layout:fragment="script" type='text/javascript'>
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("정말로 삭제하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
</script>
</html>