<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>비밀번호 변경</title>
</head>
<body>
    <div layout:fragment="content" class="password-change-wrap">
        <h1>비밀번호 변경</h1>
        <form id="passwordChangeForm" th:action="@{/user/changePassword}" method="post">
            <label for="currentPassword">현재 비밀번호:</label>
            <input type="password" id="currentPassword" name="currentPassword" required>
            
            <label for="newPassword">새 비밀번호:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            
            <label for="confirmNewPassword">새 비밀번호 확인:</label>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
            
            <p id="passwordMessage">비밀번호는 소문자, 숫자, 특수문자를 포함하여 10자 이상이어야 합니다.</p>
            
            <input type="submit" value="비밀번호 변경" class="btn">
        </form>
        <div th:if="${errorMessage}" class="cp-error-message">
            <p th:text="${errorMessage}"></p>
        </div>
        <div th:if="${successMessage}" class="cp-success-message">
            <p th:text="${successMessage}"></p>
        </div>
    </div>

    <div layout:fragment="script">
        <script>
            // JavaScript 코드 추가
        </script>
    </div>
</body>
</html>
