<html layout:decorate="~{layout}">
<body>
    <div layout:fragment="content" class="container">
        <div class="inner find_wrap change_pw">
            <h2>비밀번호 변경</h2>
            <div class="result_wrap">
            <form th:action="@{/user/changePassword}" method="post" class="change_password_form" onsubmit="return validateForm();">
                <input type="hidden" name="userId" th:value="${userId}">
                
                <div class="input_wrap">
                	<div id="passwordMessage" class="error-message"></div>
                    <input type="password" id="newPassword" name="newPassword" required oninput="validatePassword()" placeholder="새 비밀번호">
                    <input type="password" id="confirmNewPassword" name="confirmNewPassword" required oninput="validatePassword()" placeholder="새 비밀번호 확인">
                    
                </div>
                <div class="btn_wrap">
                    <input type="submit" value="비밀번호 변경" class="btn">
                </div>
            </form>
            
            </div>
        </div>
    </div>
</body>
</html>
