<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>비밀번호 변경</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="inner change_password_wrap">
            <h1>비밀번호 변경</h1>
            <form th:action="@{/user/changePassword}" method="post" class="change_password_form" onsubmit="return validateForm();">
                <input type="hidden" name="userId" th:value="${userId}">
                <div class="input_wrap">
                    <label for="newPassword">새 비밀번호:</label>
                    <input type="password" id="newPassword" name="newPassword" required oninput="validatePassword()">
                </div>
                <div class="input_wrap">
                    <label for="confirmNewPassword">새 비밀번호 확인:</label>
                    <input type="password" id="confirmNewPassword" name="confirmNewPassword" required oninput="validatePassword()">
                </div>
                <div class="btn_wrap">
                    <input type="submit" value="비밀번호 변경" class="btn">
                </div>
            </form>
            <div id="passwordMessage" class="error-message">
                <!-- 검증 피드백이 여기 표시됩니다 -->
            </div>
        </div>
    </div>
</body>
</html>
