<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <div class="inner find_wrap">
        <h2>비밀번호 찾기</h2>
        <div class="find_area">
            <form th:action="@{/user/findPassword}" method="post">
                <div class="input_wrap">
                    <input type="text" id="userId" name="userId" placeholder="아이디" required>
                    <input type="text" id="userName" name="userName" placeholder="이름" required>
                    <input type="text" id="userPhone" name="userPhone" placeholder="전화번호" required>
                </div>
                <div class="btn_wrap">
                    <input type="submit" value="비밀번호 변경" class="btn">
                </div>
            </form>
            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
    </div>
</div>
</html>
