<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
   <div class="inner add_item">
    <h2>쇼핑 품목 추가</h2>
    <form th:action="@{/add-item}" method="post" enctype="multipart/form-data" class="add_form">
        <label for="name">상품명</label>
        <input type="text" id="name" name="name" th:value="*{name}" required />
        <label for="price">가격</label>
        <input type="number" id="price" name="price" th:value="*{price}" step="100" required />
        <label for="file">Image</label>
        <input type="file" id="file" name="file" />
	    <button type="submit" class="btn">상품 추가</button>    
    </form>
    <div class="btn_wrap_B">
    	<a href="/items" class="btn">상품 목록 이동</a>
    </div>
</div>
</div>
</html>

