<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
   <div class="inner item_wrap">
    <h2>장바구니</h2>
    <table>
        <thead>
            <tr>
                <th>상품명</th>
                <th>수량</th>
                <th>가격</th>
                <th>합계</th>
                <th>상품 삭제</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cartItem : ${cartItems}">
                <td th:text="${cartItem.item.name}"></td>
                <td th:text="${cartItem.quantity}"></td>
                <td><span th:text="${#numbers.formatInteger(cartItem.item.price, 3, 'COMMA')}"></span>원</td>
                <td><span th:text="${#numbers.formatInteger(cartItem.item.price * cartItem.quantity, 3, 'COMMA')}"></span>원</td>
                <td>
                    <form th:action="@{/remove-from-cart}" method="post">
                        <input type="hidden" name="cartItemId" th:value="${cartItem.id}" />
                        <button type="submit" class="delete_btn"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    
    <p>총 합계: <span th:text="${#numbers.formatInteger(totalPrice, 3, 'COMMA')}"></span>원</p>
    <div class="btn_wrap_B">
	    <form th:action="@{/checkout}" method="post">
	        <button type="submit" class="btn">결제하기</button>
	    </form>
	</div>
</div>
</div>
</html>
