<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
   <div class="inner item_wrap">
    <h2>쇼핑 품목</h2>
    <table>
        <thead>
            <tr>
                <th>상품사진</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                 <td>
                    <img th:if="${item.imageUrl}" th:src="@{${item.imageUrl}}" alt="Item Image" class="item-image" />
                    <span th:unless="${item.imageUrl}">No Image</span>
                </td>
                <td th:text="${item.name}"></td>
                <td><span th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')}"></span>원</td>
                <td>
                    <form th:action="@{/add-to-cart}" method="post">
                        <input type="hidden" name="itemId" th:value="${item.id}" />
                        <input type="number" name="quantity" min="1" value="1" />
                        <button type="submit" class="btn">장바구니 추가</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn_wrap_B">
    	<a href="/cart" class="btn">장바구니 보기</a>
    	<a href="/add-item" class="btn">품목 추가하기</a>
    </div>
    
</body>
</html>
