<html layout:decorate="~{layout}">
<head>
<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
  <div layout:fragment="content" class="container">
    <div class="inner write_wrap">
      <form th:object="${boardForm}" method="post">
      	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf_token"/>
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3 title_wrap">
          <input type="text" th:field="*{title}" placeholder="제목"/>
        </div>
        <div class="content_area">
          <textarea name="content" id="summernote" th:field="*{content}"></textarea>
        </div>
        <div class="btn_wrap"><input type="submit" value="등록" class="btn write_btn" /></div>
        
      </form>
      <div id="summernote"><p></p></div>
    </div>
 <script layout:fragment="script" type='text/javascript'>
  $(document).ready(function() {
	  var token = $("meta[name='_csrf']").attr("content");
	  var header = $("meta[name='_csrf_header']").attr("content");
	   
      $('#summernote').summernote({
   	   height: 500,
   	   lang : 'ko-KR',
	   toolbar : [
			['style', ['style'] ],
			['fontsize', ['fontsize']],
			['font',['bold','italic','underline','strikethrough','clear']],
			['color',['color']],
			['para',['paragraph']],
			['height',['height']],
			['table',['table']],
			['insert',['picture','link','hr']],
			['view',['codeview']]],
		fontSizes : ['8','10','12','14','16','18','20','22','24','28','30','36','50','72'],
		lineHeights : ['0.2','0.3','0.4','0.5','0.6','0.8','1.0','1.2','1.4','1.5','2.0','3.0'],
   	   	callbacks : {                                                    
  			onImageUpload : function(files) {   //, editor, welEditable
                  // 파일 업로드(다중업로드를 위해 반복문 사용)
  				for (var i = files.length - 1; i >= 0; i--) {
                      imageUploader(files[i], this, token, header)
  				}
  			},
	        }
	      });
	    });
  
  
//이미지 업로드 ajax
  function imageUploader(file, el, token, header) {
	  var formData = new FormData();
	  formData.append('file', file);
	  formData.append('_csrf', token);
	  
      $.ajax({
          data: formData,
          type: 'POST',
          url: '/post/image-upload',
          contentType : false,
  		  processData : false,
          enctype: 'multipart/form-data',
          beforeSend: function(xhr) {
            xhr.setRequestHeader(header, token);
          },
          success: function (data) {
        	  $(el).summernote('insertImage', "/upload/" + data, function($image) {
                  $image.css('width', "60%");
               });
              console.log(data);
          },
          error: function() {
              alert('이미지 업로드 실패');
          }
      });
  }
  
</script>
 </div>
  
  
</html>
