
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <div class="container my-3">
        <div class="my-3 border-bottom pb-2">
            <div>
                <h5>회원가입</h5>
            </div>
            <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="mb-3">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                        <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
                    </div>
                    <label for="userRole">역할</label>
                    <select id="userRole" name="userRole" th:field="*{userRole}">
                        <option value="USER" selected>User</option>
                        <option value="PET_MANAGER">PetManager</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="userId">사용자ID</label>
                    <input type="text" id="userId" th:field="*{userId}">
                </div>
                <div class="mb-3">
                    <label for="userPassword">비밀번호</label>
                    <input type="password" id="password1" th:field="*{userPassword}">
                </div>
                <div class="mb-3">
                    <label for="userPassword2">비밀번호 확인</label>
                    <input type="password" id="password2" th:field="*{userPassword2}">
                </div>
                <div class="mb-3">
                    <label for="userName">이름</label>
                    <input type="text" id="name" th:field="*{userName}">
                </div>
                <div class="mb-3">
                    <label for="userEmail">이메일</label>
                    <input type="email" id="email" th:field="*{userEmail}">
                </div>
                <div class="mb-3">
                    <label for="userPhone">전화번호</label>
                    <input type="text" id="phone" th:field="*{userPhone}">
                </div>
                <input type="submit" value="회원가입">
            </form>
        </div>
    </div>
</body>
</div>
</html>
