<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<div class="inner application-wrap">
		<h2>유기동물 입양 신청서</h2>
		<form id="adoptionForm" action="/adopt/submit" method="post">
			<div class="input">
				<input type="hidden" name="animalId" th:value="${animal.id}" />
				
				 <label
					for="animalNo">유기고유번호(서울):</label> <input type="text" id="animalNo"
					name="animalNo" th:value="${animal.animalNo}" readonly /> <label
					for="abdmIdntfyNo">유기고유번호(경기):</label> <input type="text"
					id="abdmIdntfyNo" name="abdmIdntfyNo"
					th:value="${animal.abdmIdntfyNo}" readonly /> <label
					for="applicantName">신청자명:</label> <input type="text"
					id="applicantName" name="applicantName" required /> <label
					for="applicantEmail">신청자 이메일:</label> <input type="email"
					id="applicantEmail" name="applicantEmail" required /> <label
					for="applicantPhone">신청자 연락처:</label> <input type="tel"
					id="applicantPhone" name="applicantPhone" required /> <label
					for="applicantAddress">신청자 주소:</label> <input type="text"
					id="applicantAddress" name="applicantAddress" required /> <label
					for="adoptionReason">입양 이유:</label>
				<textarea id="adoptionReason" name="adoptionReason" required></textarea>

				<label for="adoptionExperience">입양 경험 유무:</label>
				<div class="radio-group">
					<div class="radio-item">
						<input type="radio" id="adoptionExperienceYes"
							name="adoptionExperience" value="YES" required /> <label
							for="adoptionExperienceYes">있음</label>
					</div>
					<div class="radio-item">
						<input type="radio" id="adoptionExperienceNo"
							name="adoptionExperience" value="NO" required /> <label
							for="adoptionExperienceNo">없음</label>
					</div>
				</div>
				<button type="submit">신청서 제출하기</button>
			</div>
		</form>
	</div>
</html>