<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>경기 유기동물 지도</title>
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=49a94a748769df934430e8ac57310ad0&libraries=services"></script>
</head>
<body>
<div layout:fragment="content" class="container">
<div class="inner animal_wrap animal_map">
    <div class="title_wrap">
		<h2>주변 보호소 검색</h2>
	</div>
	<div class="sub_wrap">
		<a th:href="@{/animal/animalBoard}">유기동물 입양</a>
		<a th:href="@{/animal/animalNum}">동물 등록 번호 검색</a>
		<a th:href="@{/animal/animalShelters}" class="active">주변 보호소 검색</a>
	</div>
    <div class="search_wrap">
        <input type="text" id="searchInput" placeholder="장소 검색 ex) 경기">
    </div>
    <div class="results_wrap">
    	<div id="map"></div>
    	<div id="searchResults" class="search-results"></div>
    </div>
    
</div>
<script layout:fragment="script" type="text/javascript">
        var mapContainer = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 서울시청을 중심으로 지도 초기화
            level: 9 // 지도 확대 레벨 (1부터 14까지 숫자가 클수록 확대)
        };
        var map = new kakao.maps.Map(mapContainer, options);

        // 지도 마커
var imageSrc = '/images/mapMarker.png'; // 올바른 이미지 경로
        var imageSize = new kakao.maps.Size(100, 100); // 마커이미지의 크기입니다
        var imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption); // 마커 이미지 생성

        var apiUrl = "https://openapi.gg.go.kr/AbdmAnimalProtect?KEY=2489db646b404d58bd848a19a2208e80&pIndex=1&type=json";
        
        // JSON을 가져오고 처리하는 함수
        function fetchAndProcessJson() {
            fetch(apiUrl)
                .then(response => response.json()) // JSON 데이터로 변환
                .then(data => {
                    var items = data.AbdmAnimalProtect[1].row;

                    items.forEach(function(item) {
                        var latitude = parseFloat(item.REFINE_WGS84_LAT);
                        var longitude = parseFloat(item.REFINE_WGS84_LOGT);
                        var species = item.SPECIES_NM;
                        var location = item.DISCVRY_PLC_INFO;
                        var image = item.IMAGE_COURS;
                        var thumbImage = item.THUMB_IMAGE_COURS;
                        var protectPlc = item.PROTECT_PLC;

                        // 마커 생성
                        var markerPosition = new kakao.maps.LatLng(latitude, longitude);
                        var marker = new kakao.maps.Marker({
                            position: markerPosition,
                            image: markerImage // 생성한 마커 이미지를 설정
                        });
                        marker.setMap(map);

                        // 마커 클릭 이벤트 리스너 추가
                        kakao.maps.event.addListener(marker, 'click', function() {
                            var content = '<div class="info-window">' +
                            '<button onclick="closeInfoWindow()"><i class="fa-solid fa-xmark"></i></button>' + // 닫기 버튼 추가
                                            '<div class="info-header">' +
                                                '유기동물 정보' +
                                            '</div>' +
                                            '<div class="info-body">' +
                                                '<div class="info-item">' +
                                                    '<span class="info-label">종: </span>' +
                                                    '<span class="info-value">' + species + '</span>' +
                                                '</div>' +
                                                '<div class="info-item">' +
                                                    '<span class="info-label">발견 장소: </span>' +
                                                    '<span class="info-value">' + location + '</span>' +
                                                '</div>' +
                                                '<div class="info-item">' +
                                                    '<span class="info-label">보호 장소: </span>' +
                                                    '<span class="info-value">' + protectPlc + '</span>' +
                                                '</div>';

                            if (image) { content += '<div class="info-item">' + 
                            	'<img src="' + image + '" class="info-image" >' + // 이미지 크기 조정
                            	'</div>';
                            }
                            
                            content += '</div>' + '</div>';

                            var infowindow = new kakao.maps.InfoWindow({
                                content: content
                            });
                            infowindow.open(map, marker);

                            // 닫기 버튼 클릭 시 인포윈도우 닫기
                            window.closeInfoWindow = function() {
                                infowindow.close();
                            };
                        });
                    });
                })
                .catch(error => console.error('API 호출 오류:', error));
        }

        // 장소 검색 기능 추가
        var searchInput = document.getElementById('searchInput');
        var searchResults = document.getElementById('searchResults');

        searchInput.addEventListener('keyup', function(event) {
            var keyword = event.target.value.trim();

            if (keyword.length > 0) {
                searchPlaces(keyword);
            } else {
                searchResults.innerHTML = '';
            }
        });

        function searchPlaces(keyword) {
            var ps = new kakao.maps.services.Places();

            ps.keywordSearch(keyword, function(data, status) {
                if (status === kakao.maps.services.Status.OK) {
                    displaySearchResults(data);
                } else {
                    console.error('장소 검색 오류:', status);
                }
            });
        }

        function displaySearchResults(places) {
            searchResults.innerHTML = '';

            places.forEach(function(place) {
                var name = place.place_name;
                var address = place.address_name;
                var content = '<div class="search-item" onclick="moveToPlace(' + place.y + ', ' + place.x + ')">' +
                                '<div><strong>' + name + '</strong></div>' +
                                '<div>' + address + '</div>' +
                              '</div>';
                searchResults.innerHTML += content;
            });
        }

        function moveToPlace(lat, lng) {
            var moveLatLng = new kakao.maps.LatLng(lat, lng);
            map.panTo(moveLatLng);
        }

        // 페이지 로드 시 API 호출 및 처리
        window.onload = function() {
            fetchAndProcessJson();
        };
    </script>


</body>
</html>