<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
<div class="inner animal_wrap">
	<div class="title_wrap">
		<h2>입양 대기 유기동물</h2>
		<p>143마리의 친구들이 보호자를 기다리고 있어요.</p>
		<p>멍냥 친구들에게 새로운 가족을 찾아주세요!</p>
	</div>
	<div class="sub_wrap">
		<a th:href="@{/animal/animalBoard}" class="active">유기동물 입양</a>
		<a th:href="@{/animal/animalNum}">동물 등록 번호 검색</a>
		<a th:href="@{/animal/animalShelters}">주변 보호소 검색</a>
	</div>
	<div class="filter_area">
	    <div class="filter_wrap">
	        <span>종류</span>
	        <input type="checkbox" id="cat" onclick="filterAnimals()"><label for="cat">고양이</label>
	        <input type="checkbox" id="dog" onclick="filterAnimals()"><label for="dog">강아지</label>
	        <input type="checkbox" id="etc" onclick="filterAnimals()"><label for="etc" class="long">기타축종</label>
	    </div>
	    <div class="filter_wrap">
	        <span>지역</span>
	        <input type="checkbox" id="allRegions" onclick="filterAnimals()"><label for="allRegions">전체</label>
	        <input type="checkbox" id="seoul" onclick="filterAnimals()"><label for="seoul">서울</label>
	        <input type="checkbox" id="gyeonggi" onclick="filterAnimals()"><label for="gyeonggi">경기</label>
	    </div>
	    <div class="filter_wrap">
	        <span>성별</span>
	        <input type="checkbox" id="male" onclick="filterAnimals()"><label for="male">수컷</label>
	        <input type="checkbox" id="female" onclick="filterAnimals()"><label for="female">암컷</label>
	        <input type="checkbox" id="unknown" onclick="filterAnimals()"><label for="unknown" class="long">성별미상</label>
	    </div>
	</div>
	<div class="region_wrap seoul_wrap">
		<div class="animal-list" id="seoulAnimals">
		    <div th:each="animal : ${seoulAnimals}" class="animal-item" 
             th:data-species="${animal.spcs}" 
             th:data-region="seoul" 
             th:data-sex="${animal.sexdstn}"
             th:if="${!#strings.contains(animal.nm, '마감')}">
		        <a th:href="@{'/animal/animalDetails/' + ${animal.animalNo}}">
			        <div class="animal_img" th:if="${!animal.photoUrl.startsWith('http') && !#strings.isEmpty(animal.photoUrl)}" 
			          th:style="'background:url(' + 'http://' + ${animal.photoUrl} + ') no-repeat center / cover;'" 
			          aria-label="유기동물 이미지" ></div>
			        <div class="animal_img empty" th:if="${#strings.isEmpty(animal.photoUrl)}" ></div>
			        <div class="text_wrap">
			        	<span class="spcs">
			        		<p th:if="${#strings.equals(animal.spcs, 'DOG')}">강아지</p>
			        		<p th:if="${#strings.equals(animal.spcs, 'CAT')}">고양이</p>
			        	</span>
			        	<ul class="info_title">
				        	<li th:text="${animal.breeds}"></li>		        	
				        	<li th:text="|${#strings.substringBefore(animal.age, '(세)')}세|"></li>	
				        	<li th:if="${#strings.equals(animal.sexdstn, 'M')}">수컷</li>		        	
				        	<li th:if="${#strings.equals(animal.sexdstn, 'W')}">암컷</li>		        	
			        	</ul>
				        <p>지역: 서울특별시 
				        	<span th:text="|(${#strings.substringAfter(animal.nm, '(')}|"></span>
				        </p>
			        </div>
		        </a>
		    </div>
		</div>
	</div>
	
	<div class="region_wrap gyeonggi_wrap">
		<div class="animal-list" id="gyeonggiAnimals">
		    <div th:each="animal : ${gyeonggiAnimals}" class="animal-item" 
		    th:data-species="${animal.speciesNm}" th:data-region="gyeonggi" th:data-sex="${animal.sexNm}">
		        <a th:href="@{'/animal/animalDetails/' + ${animal.abdmIdntfyNo}}">
			       <div class="animal_img" th:style="'background:url(' + ${animal.imageCours} + ') no-repeat center / cover;'" 
			       aria-label="동물 이미지"></div>
			        <div class="text_wrap">
			        	<span class="spcs">
			        		<p th:if="${#strings.contains(animal.speciesNm, '개')}">강아지</p>
			        		<p th:if="${#strings.contains(animal.speciesNm, '고양이')}">고양이</p>
			        		<p th:unless="${#strings.contains(animal.speciesNm, '개') || #strings.contains(animal.speciesNm, '고양이')}">기타축종</p>
			        	</span>
			        	<ul class="info_title">
				        	<li th:text="${#strings.substringAfter(animal.speciesNm, '] ')}"></li>		        	
				        	<li th:text="2025 - |${#numbers.formatInteger(#strings.substringBefore(animal.ageInfo, '('), 4)}세|"></li>		        	
				        	<li th:if="${#strings.equals(animal.sexNm, 'M')}">수컷</li>		        	
				        	<li th:if="${#strings.equals(animal.sexNm, 'F')}">암컷</li>		        	
				        	<li th:if="${#strings.equals(animal.sexNm, 'Q')}">성별미상</li>		        	
			        	</ul>
				        <p>지역: <span th:text="${animal.jurisdInstNm}"></span></p>
			        </div>
		        </a>
		    </div>
		</div>
	</div>
</div>
</div>
<script layout:fragment="script" type="text/javascript">
function filterAnimals() {
    // 체크박스 요소를 가져옵니다.
    const isCatChecked = document.getElementById('cat')?.checked;
    const isDogChecked = document.getElementById('dog')?.checked;
    const isEtcChecked = document.getElementById('etc')?.checked;
    const isSeoulChecked = document.getElementById('seoul')?.checked;
    const isGyeonggiChecked = document.getElementById('gyeonggi')?.checked;
    const isAllRegionsChecked = document.getElementById('allRegions')?.checked;
    const isMaleChecked = document.getElementById('male')?.checked;
    const isFemaleChecked = document.getElementById('female')?.checked;
    const isUnknownChecked = document.getElementById('unknown')?.checked;

    // 필터링할 동물 목록을 가져옵니다.
    const seoulAnimals = document.querySelectorAll('#seoulAnimals .animal-item');
    const gyeonggiAnimals = document.querySelectorAll('#gyeonggiAnimals .animal-item');

    // 서울 동물 필터링
    seoulAnimals.forEach(animal => {
        const species = animal.getAttribute('data-species');
        const region = animal.getAttribute('data-region');
        const sex = animal.getAttribute('data-sex');
        animal.style.display = 'none';

        if (
            ((isCatChecked && species === 'CAT') || (isDogChecked && species === 'DOG') || (!isCatChecked && !isDogChecked && !isEtcChecked)) &&
            ((isSeoulChecked && region === 'seoul') || (!isSeoulChecked && isAllRegionsChecked) || (!isSeoulChecked && !isGyeonggiChecked && !isAllRegionsChecked)) &&
            ((isMaleChecked && sex === 'M') || (isFemaleChecked && sex === 'F') || (isUnknownChecked && sex === 'Q') || (!isMaleChecked && !isFemaleChecked && !isUnknownChecked))
        ) {
            animal.style.display = 'block';
        }
    });

    // 경기 동물 필터링
    gyeonggiAnimals.forEach(animal => {
        const species = animal.getAttribute('data-species');
        const region = animal.getAttribute('data-region');
        const sex = animal.getAttribute('data-sex');
        animal.style.display = 'none';

        if (
            ((isCatChecked && species.includes('고양이')) || (isDogChecked && species.includes('개')) || (isEtcChecked && species.includes('기타축종')) || (!isCatChecked && !isDogChecked && !isEtcChecked)) &&
            ((isGyeonggiChecked && region === 'gyeonggi') || (!isGyeonggiChecked && isAllRegionsChecked) || (!isSeoulChecked && !isGyeonggiChecked && !isAllRegionsChecked)) &&
            ((isMaleChecked && sex === 'M') || (isFemaleChecked && sex === 'F') || (isUnknownChecked && sex === 'Q') || (!isMaleChecked && !isFemaleChecked && !isUnknownChecked))
        ) {
            animal.style.display = 'block';
        }
    });
}

// 필터링 요소에 클릭 이벤트 핸들러 추가
document.querySelectorAll('input[name="speciesFilter"], input[name="regionFilter"], input[name="sexFilter"]').forEach(function(filter) {
    filter.onclick = filterAnimals;
});
</script>

</html>
