<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container main_container">
   <div class="inner main">
   		<h2 class="blind">메인 홈</h2>
       <section class="main_slide">
       		<div class="main_title">
       			<h3>함께하개냥</h3>
       			<p>143마리의 친구들이 보호자를 기다리고 있어요.</p>
       			<p>멍냥 친구들에게 새로운 가족을 찾아주세요<strong>!</strong></p>
       			<div class="btn_wrap">
	       			<ul>
	       				<li><a th:href="@{|/animal/animalBoard|}" class="btn">입양 알아보기<i class="fa-solid fa-arrow-right"></i></a></li>
						<li><a th:href="@{|/qna_question/list|}" class="btn">1:1 상담</a></li>
	       			</ul>
	       		</div>
       		</div>
       		<div class="screen"></div>
       </section>
    </div>
</div>

</html>
