<header th:fragment="navbarfragment" id="header">
	<div class="inner">
		<h1><a href="/">LOGO</a></h1>
		
		<nav class="gnb_wrap">
			<ul class="gnb">
				<li><a href="/">홈</a></li>
				<li><a th:href="@{|/animal/animalBoard|}">입양</a></li>
				<li><a th:href="@{|/board/list|}">커뮤니티</a></li>
				<li><a th:href="@{|/qna_question/list|}">Q&A</a></li>
			</ul>
			<div class="log_area">
				<ul class="log_wrap">
					<li>
						<a sec:authorize="isAnonymous()" th:href="@{|/user/login|}" class="btn">로그인</a>
						<a sec:authorize="isAuthenticated()" th:href="@{|/user/logout|}" class="btn">로그아웃</a>
					</li>
					<li>
						<a sec:authorize="isAnonymous()" th:href="@{|/user/signup|}" class="btn">회원가입</a>
						<a sec:authorize="isAuthenticated() and !hasAuthority('ADMIN')" th:href="@{|/user/mypage|}" class="btn">마이페이지</a>
						<a sec:authorize="hasAuthority('ADMIN')" th:href="@{|/user/admin|}" class="btn">관리자 페이지</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	
</header>